.navbar {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 1.2rem;
  color: #111827;
}
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #111827;
}
.navbar-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #111827;
}
.navbar-menu {
  list-style: none;
  padding-top: 0.4rem;
  margin: 0 0 0 0;
  display: none;
}
.navbar-menu.open {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.navbar-menu.open li {
  transition: color 0.2s ease-in-out;
  font-weight: 500;
}

.navbar-menu.open li:hover {
  color: #4b6b8d;
}

.navbar-contact {
  display: block;
  background: #111827;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 0.7rem 0.6rem;
  text-decoration: none;
  font-weight: 500;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.navbar-contact:hover {
  background-color: #4b6b8d;
}

@media (min-width: 600px) {
  .navbar-header {
    display: flex;
    align-items: center;
    /* Remove justify-content: space-between */
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-menu {
    display: flex !important;
    flex-direction: row;
    font-weight: 500;
    gap: 1.6rem;
    margin: 0;
    padding: 0;
    align-items: center;
    transition: color 0.2s ease-in-out;
  }
  .navbar-menu li:hover {
    color: #4b6b8d;
  }
  .navbar-title {
    margin-right: 2rem;
  }
  .navbar-contact {
    margin-top: 0rem;
  }
  .navbar-toggle {
    display: none;
  }
}
